* {
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    background-color: aquamarine;
    padding: 5px;
    border: 1px solid black;

    /*1° Activamos Flexbox*/
    display: flex;
    /*Dirección como se van a disponer los elementos*/
    /* flex-direction: column; */
    /*Acomoda los elementos hacia abajo
    y no se pierde de la pantalla*/
    /* flex-wrap: wrap; */

    /*Esto reemplaza el uso por separado de:
    -flex-direction
    -flex-wrap*/
    flex-flow: row wrap;

    /*para alinear los elementos horizontalmente*/
    /* justify-content: space-around; */

    height: 600px;

    align-items: last baseline;
}

.box {
    border: 1px solid black;
    background-color: blueviolet;
    font-size: 30px;
    text-align: center;
    margin: 15px;

    width: 200px;
}

.carja-porfiada {
    align-self: center;
    flex:3;
}