body {
    background-color: black;
    color: white;
}

.caja {
    background-color: cyan;
    padding: 20px;
    margin-top: 30px;
    border-color: blue;
    border-radius: 10px;
    border-style: solid;
}