/*Reset del css*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/*-------------------TARJETAS----------------------*/
/* 
   Clase base de la tarjeta.
   Esta clase define el estilo general del contenedor que envuelve
   la imagen, el título, el texto y el botón.
*/
.tarjeta{
    background-color: rgb(59, 58, 58);
    border-radius: 10px;
    padding: 15px;           
    margin: 15px; 
    width: 17%;
    display: flex;
    flex-direction: column; 
    border: none;
}

.contenedor-tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: darkgray;
}


/*
   Estilo aplicado a la imagen dentro de una tarjeta.
   Al usar .tarjeta img se afecta solo a imágenes que estén dentro de .tarjeta.
*/
.tarjeta img {
    height: 400px;
    border-radius: 6px;
    margin-bottom: 15px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.contenedor-principal{
    background-color: aqua;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*
   Estilo del título dentro de la tarjeta.
   Se usa un color llamativo para que destaque en el diseño oscuro.
*/
.tarjeta-titulo{
    font-size: 20px;              /* Tamaño de letra mayor para destacar el título */
    font-weight: bold;            /* Negrita para reforzar la importancia */
    margin: 10px 0px;             /* Espacio arriba y abajo del título */
    color: #10e67e;               /* Color verde brillante para resaltar */
}

/*
   Estilo del párrafo de descripción dentro de la tarjeta.
*/
.tarjeta-texto {
    font-size: 15px;              /* Tamaño del texto del párrafo */
    color: #ffffff;               /* Texto en blanco para buen contraste con fondo oscuro */
    margin-bottom: 15px;          /* Espacio inferior para separar del botón */
}

/*-------------BOTONES---------------*/
.btn {
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    color: #ffffff;
}

.btn-verde {
    background-color: #03c065;
}

.btn-rojo {
    background-color: brown;
}

.btn-azul {
    background-color: blue;
}

.btn-naranja {
    background-color: orange;
}

.btn-verde:hover {
    background-color: #1df78e;
    box-shadow:0 5px 5px 0 rgb(168, 247, 223)
}

.btn-rojo:hover {
    background-color: rgb(220, 63, 63);
    box-shadow:0 5px 5px 0 rgb(252, 134, 108)
}

.btn-azul:hover {
    background-color: rgb(41, 41, 243);
    box-shadow:0 5px 5px 0 rgb(87, 167, 254)
}

.btn-naranja:hover {
    background-color: rgb(251, 184, 61);
    box-shadow:0 5px 5px 0 rgb(247, 209, 144)
}