<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-7 col-lg-6">
            <!--begin::Formulario de contacto-->
            <div class="card card-primary card-outline mb-4">
                <!--begin::Header-->
                <div class="card-header">
                    <div class="card-title">Formulario de contacto</div>
                </div>
                <!--end::Header-->
                <!--begin::Form-->
                <form method="POST">
                    {% csrf_token %}
                    <!--begin::Body-->
                    <div class="card-body">
                        <div class="mb-3">
                            {{ form.nombre.label_tag }}
                            {{ form.nombre }}
                            {% if form.nombre.errors %}
                            <div class="text-danger small">
                                {{ form.nombre.errors }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                            <div id="emailHelp" class="form-text">
                                Nunca compartiremos tu correo electrónico con nadie más.
                            </div>
                            {% if form.email.errors %}
                            <div class="text-danger small">
                                {{ form.email.errors }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {{ form.mensaje.label_tag }}
                            {{ form.mensaje }}
                            {% if form.mensaje.errors %}
                            <div class="text-danger small">
                                {{ form.mensaje.errors }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <!--end::Body-->
                    <!--begin::Footer-->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <!--end::Footer-->
                </form>
                <!--end::Form-->
            </div>
            <!--end::Formulario de contacto-->
        </div>
    </div>
</div>