{% extends "base.html" %}
{% block title %}Autores{% endblock %}

{% block content %}
<div class="mt-3 d-flex justify-content-end">
    <a class="btn btn-success" href="{% url 'authors_create' %}">
        <i class="bi bi-person-plus-fill"></i> Nuevo Autor
    </a>
</div>
<div class="card mt-4">
    <div class="card-header bg-info">
        Autores
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Indice</th>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha Registro</th>
                    <th scope="col">Fecha Actualización</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for autor in autores %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ autor.id }}</td>
                    <td>{{ autor.name }}</td>
                    <td>{{ autor.created_at }}</td>
                    <td>{{ autor.updated_at }}</td>
                    <td>
                        <div>
                            <a class="text-primary" href="{% url 'authors_update' autor.id %}"><i
                                    class="bi bi-pencil-square"></i></a>

                            <a 
                            class="text-danger delete-btn" 
                            href="" 
                            data-url="{% url 'authors_delete' autor.id %}"
                            data-text="Se eliminará {{ autor.name }}. Esta acción no se puede revertir"
                            data-title = "¿Eliminar Autor?"
                            >
                            <i class="bi bi-trash3-fill"></i></a>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td>No hay autores</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block extra_js %}
{% endblock %}